<div layout="column" flex layout-align="space-between start" layout-wrap layout-fill class="md-color-picker-history">
    <div layout="row" flex="80" layout-align="space-between start start" layout-wrap  layout-fill>
        <div flex="10" ng-repeat="historyColor in history.get() track by $index">
            <div  ng-style="{'background': historyColor.toRgbString()}" ng-click="setPaletteColor($event)"></div>
        </div>
    </div>


    <md-button flex-end ng-click="history.reset()" class="md-mini" aria-label="Clear History">
        <md-icon md-svg-icon="clear_all.svg"></md-icon>
    </md-button>
</div>